{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php",
        ".json"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": [
          "blocks/example/block.json"
        ]
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": [
          "scss/style.scss",
          "scss/vendors/_font.scss",
          "scss/vendors/_normalize.scss",
          "scss/components/_header.scss",
          "scss/components/_footer.scss",
          "scss/base/_base.scss",
          "scss/abstracts/_mixins.scss",
          "scss/abstracts/_variables.scss"
        ]
      }
    },
    "uploader": {
      "remotePath": "/sleeky.uk/dean/starting-theme/wp-content/themes/Sleeky",
      "timeout": 20000,
      "autoUpload": true,
      "reuseConnection": true,
      "connectionType": "ftp",
      "exportHistory": true,
      "history": [
        {
          "file": "functions.php",
          "mtimeMs": 1684616723474.9612,
          "date": "2023-05-20T21:05:24.376Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1684613009353.8474,
          "date": "2023-05-20T20:03:30.222Z"
        },
        {
          "file": "js/jquery.min.js",
          "mtimeMs": 1656759310288.2898,
          "date": "2022-07-02T10:55:11.314Z"
        },
        {
          "file": "js/font-awesome.js",
          "mtimeMs": 1656756822804.898,
          "date": "2022-07-02T10:13:47.289Z"
        },
        {
          "file": "header.php",
          "mtimeMs": 1713440915488.9082,
          "date": "2024-04-18T11:48:35.944Z"
        },
        {
          "file": "js/jquery-migrate.min.js",
          "mtimeMs": 1656759297788.3738,
          "date": "2022-07-02T10:54:58.726Z"
        },
        {
          "file": "js/aos.js",
          "mtimeMs": 1656759776447.299,
          "date": "2022-07-02T11:02:57.357Z"
        },
        {
          "file": "css/aos.css",
          "mtimeMs": 1656760220765.0903,
          "date": "2022-07-02T11:10:21.693Z"
        },
        {
          "file": "style.css",
          "mtimeMs": 1713784143290.5066,
          "date": "2024-04-22T11:09:03.936Z"
        },
        {
          "file": "footer.php",
          "mtimeMs": 1676137804440.0288,
          "date": "2023-02-11T17:50:05.348Z"
        },
        {
          "file": "front-page.php",
          "mtimeMs": 1676110759925.8804,
          "date": "2023-02-11T10:19:20.820Z"
        },
        {
          "file": "template-parts/testing.php",
          "mtimeMs": 1656816516107.1897,
          "date": "2022-07-03T02:48:37.010Z"
        },
        {
          "file": "page.php",
          "mtimeMs": 1676111042936.776,
          "date": "2023-02-11T10:24:03.815Z"
        },
        {
          "file": "single.php",
          "mtimeMs": 1676111075836.5813,
          "date": "2023-02-11T10:24:36.743Z"
        },
        {
          "file": "index.php",
          "mtimeMs": 1676111072163.2344,
          "date": "2023-02-11T10:24:33.064Z"
        },
        {
          "file": "category.php",
          "mtimeMs": 1656817184898.1125,
          "date": "2022-07-03T02:59:45.779Z"
        },
        {
          "file": "404.php",
          "mtimeMs": 1656817212888.1099,
          "date": "2022-07-03T03:00:13.771Z"
        },
        {
          "file": "scss/style.scss",
          "mtimeMs": 1713440929369.6655,
          "date": "2024-04-18T11:48:49.915Z"
        },
        {
          "file": "inc/core.php",
          "mtimeMs": 1676136060093.5044,
          "date": "2023-02-11T17:21:01.359Z"
        },
        {
          "file": "inc/custom.php",
          "mtimeMs": 1676137267062.7268,
          "date": "2023-02-11T17:41:07.996Z"
        },
        {
          "file": "inc/blocks.php",
          "mtimeMs": 1684613374768.5515,
          "date": "2023-05-20T20:09:35.695Z"
        },
        {
          "file": "scss/abstracts/_mixins.scss",
          "mtimeMs": 1676136113547.2212,
          "date": "2023-02-11T17:21:54.781Z"
        },
        {
          "file": "scss/abstracts/_variables.scss",
          "mtimeMs": 1676136141921.4807,
          "date": "2023-02-11T17:22:22.925Z"
        },
        {
          "file": "scss/base/_base.scss",
          "mtimeMs": 1713257425446.5227,
          "date": "2024-04-16T08:50:26.253Z"
        },
        {
          "file": "scss/vendors/_font.scss",
          "mtimeMs": 1676136880992.4836,
          "date": "2023-02-11T17:34:42.009Z"
        },
        {
          "file": "scss/components/_header.scss",
          "mtimeMs": 1676136918104.4004,
          "date": "2023-02-11T17:35:19.120Z"
        },
        {
          "file": "scss/components/_footer.scss",
          "mtimeMs": 1676137831512.6243,
          "date": "2023-02-11T17:50:32.531Z"
        },
        {
          "file": "template-parts/example.php",
          "mtimeMs": 1676639737919.26,
          "date": "2023-02-17T13:15:38.843Z"
        },
        {
          "file": "template-parts/block-load.php",
          "mtimeMs": 1676140916209.8936,
          "date": "2023-02-11T18:41:57.168Z"
        },
        {
          "file": "template-parts/examplejane.php",
          "mtimeMs": 1676639836114.4844,
          "date": "2023-02-17T13:17:17.038Z"
        },
        {
          "file": "blocks/example/render.php",
          "mtimeMs": 1713347009783.807,
          "date": "2024-04-17T09:43:30.507Z"
        },
        {
          "file": "blocks/example/block.json",
          "mtimeMs": 1713273476996.5337,
          "date": "2024-04-16T13:17:57.653Z"
        },
        {
          "file": "incudes/blocks.php",
          "mtimeMs": 1684616543940.0166,
          "date": "2023-05-20T21:02:24.905Z"
        },
        {
          "file": "incudes/custom.php",
          "mtimeMs": 1684616579476.3745,
          "date": "2023-05-20T21:03:00.400Z"
        },
        {
          "file": "includes/custom.php",
          "mtimeMs": 1713438526605.3633,
          "date": "2024-04-18T11:08:47.087Z"
        },
        {
          "file": "includes/blocks.php",
          "mtimeMs": 1713273527835.4468,
          "date": "2024-04-16T13:18:48.478Z"
        },
        {
          "file": "blocks/example/script.js",
          "mtimeMs": 1701518783930.4226,
          "date": "2023-12-02T12:06:24.649Z"
        },
        {
          "file": "blocks/example/init.php",
          "mtimeMs": 1712832697432.453,
          "date": "2024-04-11T10:51:38.042Z"
        },
        {
          "file": "assets/css/editor-styles.css",
          "mtimeMs": 1713188429559.4675,
          "date": "2024-04-15T13:40:30.266Z"
        },
        {
          "file": "includes/core.php",
          "mtimeMs": 1713272763077.0237,
          "date": "2024-04-16T13:06:03.706Z"
        },
        {
          "file": "blocks/hero/block.json",
          "mtimeMs": 1713271154431.0476,
          "date": "2024-04-16T12:39:15.115Z"
        },
        {
          "file": "blocks/hero/init.php",
          "mtimeMs": 1713264967924.8818,
          "date": "2024-04-16T10:56:08.563Z"
        },
        {
          "file": "blocks/hero/render.php",
          "mtimeMs": 1713263343215.8147,
          "date": "2024-04-16T10:29:03.864Z"
        },
        {
          "file": "blocks/hero/script.js",
          "mtimeMs": 1713270882248.6277,
          "date": "2024-04-16T12:34:43.078Z"
        },
        {
          "file": "blocks/hero/style.css",
          "mtimeMs": 1701455166259.764,
          "date": "2023-12-02T12:17:13.635Z"
        },
        {
          "file": "README.md",
          "mtimeMs": 1713272962683.299,
          "date": "2024-04-16T13:09:23.296Z"
        },
        {
          "file": "assets/js/jquery.min.js",
          "mtimeMs": 1713257609569.9097,
          "date": "2024-04-16T08:53:30.387Z"
        },
        {
          "file": "assets/js/jquery-migrate.min.js",
          "mtimeMs": 1713257720709.0193,
          "date": "2024-04-16T08:55:21.524Z"
        },
        {
          "file": "assets/css/animate.min.css",
          "mtimeMs": 1713258936895.2458,
          "date": "2024-04-16T09:15:37.705Z"
        },
        {
          "file": "assets/js/wow.min.js",
          "mtimeMs": 1713260089700.706,
          "date": "2024-04-16T09:34:50.420Z"
        },
        {
          "file": "assets/js/slick.min.js",
          "mtimeMs": 1713265033594.9624,
          "date": "2024-04-16T10:57:14.327Z"
        },
        {
          "file": "assets/js/scripts.js",
          "mtimeMs": 1713346900267.4207,
          "date": "2024-04-17T09:41:41.168Z"
        },
        {
          "file": "woocommerce/cart/cart.php",
          "mtimeMs": 1713781348842.8962,
          "date": "2024-04-22T10:22:29.515Z"
        },
        {
          "file": "woocommerce/cart/cart-totals.php",
          "mtimeMs": 1713435814670.2085,
          "date": "2024-04-18T10:23:35.139Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "removeCharset": false,
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "removeCharset": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "blocks/example/style.scss",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "js/font-awesome.js",
        "config": {
          "customOutput": "js\\font-awesome.js"
        }
      },
      {
        "file": "scss/style.scss",
        "config": {
          "customOutput": "style.css"
        }
      }
    ]
  }
}
