@import
  '../../abstracts/mixins';

$breakpoints--cart: (
  'first': (max-width: 1650px),
  'second': (max-width: 1350px),
  'third': (max-width: 780px),
);

.woocommerce button[name="update_cart"],
.woocommerce input[name="update_cart"] {
	display: none;
}

.sleekyCartTable {
  padding: 100px 0;

  &__table {
    width: 100%;
  
    table-layout: auto;
    border-spacing: 0;

    thead td {
      font-size: clamp(16px, 2vw, 18px);
      text-align: center;

      padding-bottom: 30px;
      border-bottom: 1px solid #000;

      &:last-child{
        text-align: right;
      }

      &:first-child {
        font-size: clamp(25px, 3vw, 30px);
        font-weight: 500;

        text-align: left;

        p {
          display: flex;
          align-items: center;
          gap: clamp(20px, 4vw, 45px);
          margin: 0;
        }
        
        span {
          padding-top: 3px;

          font-size: clamp(15px, 2vw, 18px);
          font-weight: 400;
        }
      }
    }

    tbody td { border-bottom: 1px solid #000; }
  }

  &__information {
    display: flex;

    align-items: center;

    gap: clamp(20px, 5vw, 60px);

    padding: clamp(15px, 3vw, 30px) clamp(40px, 5vw, 100px) 30px 0;

    @include respond-to($breakpoints--cart, 'first') {
      padding: clamp(15px, 2vw, 30px) 15px clamp(15px, 2vw, 30px) 0;
    }

    @include respond-to($breakpoints--cart, 'second') {
      gap: clamp(20px, 3vw, 40px);
    }

    &__thumbnail {
      width: clamp(100px, 13vw, 200px);
      height: auto;

      aspect-ratio: 1;
      border: 1px solid #D9D9D9;

      a {
        display: flex;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;

          object-fit: cover;
        }
      }
    }
    &__description {
      width: calc( 100% - clamp(100px, 13vw, 200px));

      h2 {
        margin: 0 0 0.8em 0;

        font-size: clamp(18px, 2vw, 25px);
        font-weight: 500;

        a {
          position: relative;

          color: #000;

          text-decoration: none;
          transition: all 0.3s;

          &::after {
            content: '';
            position: absolute;
            display: block;

            width: 0%;
            height: 1px;

            bottom: 0;

            background-color: #000;

            transition: all 0.3s;
          }

          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
      }
      
      p {
        margin: 0 0 0.8em 0;

        font-size: clamp(15px, 2vw, 16px);
      }
    }
  }

  &__quantity {
    padding: clamp(15px, 2vw, 30px) clamp(40px, 5vw, 100px) clamp(15px, 2vw, 30px) clamp(40px, 5vw, 100px);

    font-size: clamp(20px, 2vw, 25px);
    font-weight: 500;
    text-align: center;

    @include respond-to($breakpoints--cart, 'first') {
      padding: 30px 15px 30px 15px;
    }

    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__decrease, &__increase {
      appearance: none;

      width: clamp(30px, 4vw, 40px);
      height: clamp(30px, 4vw, 40px);

      background: none;
      border: none;

      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        color: red;
      }
    }

    &__increase {
      &:hover {
        color: #2bae27;
      }
      &.disable {
        user-select: none;
        opacity: 0.2;
        cursor: inherit;
        &:hover {
          color: #000;
        }
      }
    }

    .input-text.qty.text::-webkit-outer-spin-button,
    .input-text.qty.text::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
    }

    .input-text.qty.text {
      appearance: textfield;

      width: clamp(40px, 7vw, 130px);

      border: 0;
      outline: 0;
      text-align: center;
    }
  }

  &__price, &__subtotal {
    padding: clamp(15px, 2vw, 30px) clamp(40px, 5vw, 100px) clamp(15px, 2vw, 30px) clamp(40px, 5vw, 100px);

    font-size: clamp(20px, 2vw, 25px);
    font-weight: 500;
    text-align: center;

    @include respond-to($breakpoints--cart, 'first') {
      padding: 30px 15px 30px 15px;
    }
  }

  &__subtotal {
    position: relative;

    padding: 30px 0 30px clamp(40px, 5vw, 100px);

    text-align: right;

    @include respond-to($breakpoints--cart, 'first') {
      padding: 30px 0 30px 15px;
    }

    div {
      position: absolute;
      display: block;

      bottom: 20px;
      right: 0;

      a {
        color: #000;

        font-weight: 400;        
        text-decoration: none;

        transition: all 0.3s;

        &:hover {
          color: red;
        }
      }
    }
  }

  &__finish {
    display: flex;
    justify-content: space-between;
  }

  &__coupon {
    padding: 60px 0 0 0;

    .button {
      appearance: none;

      margin-left: 50px;
      padding: 18px 26px;

      font-size: 18px;
      font-weight: 500;

      background-color: #fff;
      border: 1px solid #000;

      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        color: #fff;
        background-color: #000;
      }
    }

    .coupon input {
      color: #000;

      font-size: 18px;
      padding-bottom: 15px;

      border: none;
      outline: 0;
      border-bottom: 1px solid #8E8888;
    }
  }

  &__totals {
    padding: 60px 25px 0 0;


    .cart_totals {
      display: flex;
      justify-content: right;
  
      text-align: right;

      .woocommerce-remove-coupon {
        position: absolute;

        top: calc( 50% - 9px);
        right: -25px;

        color: #000;

        text-decoration: none;
        font-size: 16px;

        transition: all 0.3s;

        &:hover {
          color: red;
        }
      }
  
      table {
        border-spacing: 10px;
        th {
          font-size: 18px;
          font-weight: 400;
        }
        td {
          position: relative;

          padding-left: 50px;

          font-size: 25px;

          &[data-title="Total"] {
            font-size: 35px;
            strong {
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  &__continue {
    display: flex;

    justify-content: space-between;

    margin-top: 100px;

    .back-to-shop {
      position: relative;

      padding-bottom: 5px;

      color: #000;

      font-size: 18px;

      text-decoration: none;

      &::before {
        content: '';
        position: absolute;

        width: 100%;
        height: 1px;

        bottom: 0;

        background-color: #000;

        transition: all 0.3s;
      }

      &::after {
        content: '>';

        opacity: 0;
        padding-left: 0;

        transition: all 0.3s;
      }

      &:hover {
        border-bottom: 0;
        &::after {
          opacity: 1;
          padding-left: 10px;
        }
        &::before {
          opacity: 0;
          width: 0;
        }
      }
    }

    .checkout-button {
      padding: 18px 40px;

      background-color: #000;
      color: #fff;

      font-size: 18px;

      text-decoration: none;

      &::after {
        content: '>';

        opacity: 0;
        padding-left: 0px;

        transition: all 0.3s;
      }

      &:hover {
        &::after {
          opacity: 1;
          padding-left: 10px;
        }
      }
    }
  }
}