/*

  Font Related Variables - $fnt-
  Color Related Variables - $clr-
  Background Related Variables - $bgr-

*/

/* Main Colors used in the theme */

$clr-primary: #F5E1D9;
$clr-secondary: #F1BBA7;

$clr-content: #0A0C0E;

$clr-button-dark: #171717;
$clr-button-main: #F1BBA7;

/* Main Fonts used in the theme */

$fnt-primary: "Poppins";